::after,*::before{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
   
    background-image: url(./images.jpg) ;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    background-position: center center;
    
}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgba(0,0,0,0.9); */
}
.title{
    margin-top: 10px;
    color: rgb(245, 194, 230);
    text-align: center;
    font-size: 2.5rem;
}
.col{
    width: 1000px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.col div{
    width: 250px;
    text-align: center;
}
input{
    width: 50%;
    height: 50px;
    background-color: rgba(255,255,255,0.9);
    border-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;

}
