::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: aqua;
}
#main{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.note{
    width: 250px;
    height: 350px;
    background-color: rgb(246, 247, 247);
    margin: 23px;
}
 .note .tool{
    width: 97%;
    height: 28px;
    background-color: rgb(71, 4, 134);
    color:white ;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-top: 12px;

}
.tool i {
    cursor: pointer;
}
.note textarea{
    width: 97%;
    height:87% ;
    border: none;
    background-color: rgb(252, 252, 251);
    resize: none;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.note textarea:focus{
    border: 0;
    outline: 0;
    
}
#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgb(2, 14, 84);
    color: white;
    width:100px;
    border: none;
    padding: 8px;
    cursor: pointer;
   
}
