@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    
    height: 100vh;
   /* background: #1e1e1e; */
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
    background-color: rgb(34, 34, 34);
    
}
h1{
    text-align: center;
    color: rgb(223, 217, 217);
    margin-top: 20px;
    margin-bottom: -10px;
}
.calculator{
    /* border: 2px solid red; */
    width: 205px;
    height: 305px;
    /* margin-left: 230px; */
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 10px 0px rgba(98, 98, 99, 0.5);
    /* margin: auto; */
    margin-left: 400px;

}
.calculator .row  {

    width: 100%;
}
.calculator .row{
    width:203px;
    
    
}
.calculator .row button{
    width: 13%;
    height: 30px;
    padding:23px ;
    border: 1px solid black;
    border-radius: 100%;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    margin: 0.1px;
    gap:3px;
    cursor: pointer;
}
.inputbox input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    background-color: rgb(18, 18, 18);
    color: white;
    border: none;
    font-size: 35px;
    text-align: right;
   padding-right: 5px;
    
}
button.yellow{
    background-color: orange;
}
button.light-black{
    background-color: rgb(64, 64, 64);
    color: rgb(242, 244, 245);
}
button.light{
    background-color: rgb(117, 115, 115);
    color: rgb(234, 229, 229);
    font-weight:400;
    
}
